<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Attalos Demo Application</title>
        <link rel="stylesheet" href="css/style.css">
    <style>
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;

}

input[type=text]:focus {
    width: 100%;
}
</style>
  </head>
  <body>

<form>
  <input type="text" name="query" placeholder="{{search_bar}}">
</form>
<div style="float:left;width: 100%">
<h1>{% if algo1_name %}
    {{algo1_name|safe}}
    {% else %}
    Algo1
    {% endif %}</h1>
<div id="algo1" class="grid" >
    <div class="grid-sizer"></div>
    {% if algo1_results %}
    {{algo1_results|safe}}
    {% endif %}
</div>
</div>

  <script src='js/jquery.min.js'></script>
<script src='js/masonry.pkgd.js'></script>
<script src='js/imagesloaded.pkgd.js'></script>
<script src="js/index.js"></script>
  </body>
</html>

